*,*::before,*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #3863d9;
}
a:hover {
	text-decoration: underline;
}

.container {
	display: flex;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

nav {
	flex: 0 0 20%;
}

main {
	flex: 0 0 80%;
}