*{
	margin: 0;
	padding: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

:after, :before {
	content: '';
}
body {
	font-family: Roboto;
}
.popup {
	position: fixed;
	z-index: 9998;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 5px;
	transition: transform .4s,opacity .4s,visibility .4s;
	text-align: center;
	background: rgba(0,0,0,.75);
	-webkit-overflow-scrolling: touch;
}
.popup.show {
	visibility: visible;
	opacity: 1;
}

.em-popup {
	padding-top: 70px;
}

.popup:before {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.popup-wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 30px 30px 25px;
    width: 380px;
    transition: transform .4s;
    transform: scale(.8);
    text-align: left;
    background: #fff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.em-popup .popup-wrap {
    padding: 0;
    width: 470px;
}
.popup.show .popup-wrap {
    transform: scale(1);
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-popup .popup-wrap {
    width: 360px;
}}
@media screen and (max-width: 400px), screen and (max-device-width: 400px){
.em-popup .popup-wrap {
    width: 300px;
}}



button, input, textarea {
    padding: 0;
    transition: .2s;
    color: #72706d;
    font-size: 13px;
    font-family: Arial,sans-serif;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    display: block;
    cursor: pointer;
    border: none;
}
button.close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}
.em-popup .close {
    z-index: 1;
}
svg {
    display: block;
    margin: 0 auto;
    transform: translateZ(0);
    transition: .2s;
}
button.close svg {
    width: 16px;
    height: 16px;
    fill: #a5a5a5;
}
button.close:hover svg {
    fill: #373131;
}

.em-head {
    position: relative;
    padding: 100px 50px 20px 50px;
    background: #efefef;
    border-radius: 3px 3px 0 0;
}
@media screen and (max-height: 780px), screen and (max-device-height: 780px){
.em-head {
    padding-top: 65px;
}}

.em-head:before {
    position: absolute;
    top: -92px;
    left: 50%;
    margin-left: -187px;
    width: 374px;
    height: 180px;
    transform: scale(.3) translate3d(0,90px,0);
    transition: transform .3s;
    background: url(popup-gift.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all{
.em-head:before {
    background-image: url(popup-gift@2x.png);
    background-size: 374px 180px;
}}
@media screen and (max-height: 780px), screen and (max-device-height: 780px){
.em-head:before {
    top: -70px;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    height: 130px;
    background-size: 270px 130px;
}}
.em-popup.show .em-head:before {
    transform: scale(1) translate3d(0,0,0);
}
@media (max-width: 700px){
	.em-head:before {
		display: none
	}
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-head {
    padding: 20px 10px 10px 10px!important;
}
}
@media screen and (max-width: 400px), screen and (max-device-width: 400px){
.em-head {
    background: 0 0;
}}

.em-head-title {
    margin-bottom: 20px;
    line-height: 28px;
    color: #373131;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.em-head-title span {
    color: #db1d1d;
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-head-title {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 17px;
}}

.forms input, .forms textarea {
    display: block;
    margin-bottom: 12px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    color: #373131;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: #fff;
}
.em-form input {
    margin-bottom: 0;
    height: 50px;
    font-size: 17px;
    box-shadow: inset 0 0 5px rgba(24,23,25,.1);
}

.form-error-text {
    display: none;
    margin-top: 5px;
    color: #db1d1d;
    font-size: 13px;
    text-align: center;
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-form input {
    height: 40px;
    font-size: 15px;
}}
@media screen and (max-width: 600px), screen and (max-device-width: 600px){
.forms input, .forms textarea {
    margin-bottom: 10px;
    padding: 0 8px;
}}

.button {
    display: block;
    padding: 6px 12px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: #db1d1d;
    border-radius: 4px;
}
.forms button {
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.forms .button {
    color: #fff;
    cursor: pointer;
    border: none;
    background: #db1d1d;
}
.em-form .button {
    margin-top: 12px;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
}
.forms .button:hover {
    color: #fff;
    background: #c50000;
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-form .button {
    margin-top: 10px;
    height: 40px;
    font-size: 15px;
}}

.policy {
    margin-top: 20px;
    line-height: 17px;
    color: #9b9b9b;
    font-size: 12px;
    text-align: center;
}
.em-policy {
    margin-top: 15px;
    color: #5e5959;
    font-size: 13px;
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-policy {
    margin-top: 12px;
    font-size: 12px;
}}
a {
    color: #0063be;
    text-decoration: underline;
    transition: color .2s,border .2s,background .2s,opacity .2s;
}
a:hover {
    color: #db1d1d;
}
.em-policy a {
    color: #5e5959;
}


.em-cont {
    padding: 25px;
}
@media screen and (max-width: 700px), screen and (max-device-width: 700px){
.em-cont {
    padding: 10px 10px 15px;
}}

@media screen and (max-width: 400px), screen and (max-device-width: 400px){
.em-cont {
    display: none;
}}

@media screen and (max-height: 500px) and (orientation: landscape){
.em-cont {
    display: none;
}}

.em-vant li {
    position: relative;
    margin-bottom: 15px;
    padding: 0 10px 0 58px;
}
.em-vant li:last-child {
    margin-bottom: 0;
}
.first-ico {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -17px;
    width: 34px;
    height: 34px;
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px){
.first-ico {
    left: 8px;
    margin-top: -14px;
    width: 28px;
    height: 28px;
}}
.em-vant .first-ico {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -17px;
    width: 34px;
    height: 34px;
}
.first-ico svg {
    width: 34px;
    height: 34px;
    fill: #a6a4a4;
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px){
.first-ico svg {
    width: 28px;
    height: 28px;
}}
.em-vant .first-ico svg {
    width: 34px;
    height: 34px;
    fill: #a6a4a4;
}

.em-vant li b {
    display: block;
    margin-bottom: 4px;
    color: #373131;
    font-size: 14px;
}
.em-vant li p {
    line-height: 17px;
    color: #5e5959;
}

.em-never-show {
    display: table;
    margin: 18px auto 0;
    color: #373131;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px dotted #373131;
}


.em-done {
    display: none;
}

.em-text {
    line-height: 20px;
    color: #5e5959;
    font-size: 14px;
    text-align: center;
}