body {
  margin: 0;
  background-color: #000;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 15px;
}



.intro-content__counter-wrap {
  margin-right: 8rem;
}

.intro-content__counter-wrap h4 {
  margin-top: 0;
  margin-bottom: .8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.4);
}

.counter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1;
  color: #fff;
}

.counter__time {
  margin-top: 1.2rem;
  margin-right: 6px;
}

.counter span {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
  left: -2px;
}