@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*$accent: #ff9900;*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section,
code {
	display: block;
}

p {
	margin: 0;
}


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
.page {
	display: flex;
	min-height: 100vh;
	flex-flow: column nowrap;
	flex-grow: 1;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}


.btn {
	display: block;
	align-self: center;
	margin-top: auto;
	min-width: 50px;
	appearance: none;
	border: 2px solid #ff9900;
	border-radius: 3px;
	background: transparent;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	transition: all .2s linear;
}
.btn:hover,
.btn:focus {
	background: #ff9900;
	color: #fff;
}



.header {
	width: 100%;
	background: #ff9900;
	background: linear-gradient(to top, #fff, #ff9900);
}
.header-row {
	display: flex;
	align-items: center;
	height: 45px;
}
.header-text {
	margin-left: 15px;
}


.content {
	flex: 1 0 auto;
}

.customer-data {
	margin: 0 -5px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.customer-data-item {
	display: flex;
	width: calc(30% - 10px);
	margin: 5px;
}
.customer-data-item:nth-child(3n) {
	width: calc(40% - 10px);
}
@media (max-width: 767px) {
	.customer-data-item {
		width: 100%;
	}

	.customer-data-item:nth-child(3n) {
		width: 100%;
	}
}

.customer-data-body {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border: 1px solid #ff9900;
}

.additional-data {
	opacity: 0;
	transition: opacity .2s linear;
}
.customer-data-item:hover .additional-data {
	opacity: 1;
}


.footer {
	width: 100%;
	background-color: #fc6;
}
.footer-row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
}