html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	background-color: #fff;
	font: 400 15px/28px "Poppins", sans-serif;
	letter-spacing: 0px;
	color: #677294;
	padding: 0px;
	overflow-x: hidden;
	z-index: 0;
}

a, .btn, button {
	text-decoration: none;
	outline: none;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	transition: all 0.2s linear;
	z-index: 20;
}
}
.header.navbar_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row nowrap;
}



.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar>.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

@media (max-width: 767px) {
	.container {
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1250px) {
	.container {
		max-width: 1200px;
	}
}

.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-toggler {
	padding: 0;
	margin-left: 20px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	cursor: pointer;
}

@media (min-width: 992px) {
	.navbar-toggler {
		display: none;
	}
}

.menu_toggle {
	width: 22px;
	height: 22px;
	position: relative;
	cursor: pointer;
	display: block;
}
.menu_toggle .hamburger {
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
}
.menu_toggle .hamburger span {
	width: 0%;
	height: 2px;
	position: relative;
	top: 0;
	left: 0;
	margin: 4px 0;
	display: block;
	background: #fff;
	border-radius: 3px;
	transition: .2s ease-in-out;
}
.menu_toggle .hamburger span:nth-child(1) {
	transition-delay: 0s;
}
.menu_toggle .hamburger span:nth-child(2) {
	transition-delay: .125s;
}
.menu_toggle .hamburger span:nth-child(3) {
	transition-delay: .2s;
}
.collapsed .menu_toggle .hamburger span {
	width: 100%;
}
.collapsed .menu_toggle .hamburger span:nth-child(1) {
	transition-delay: .3s;
}
.collapsed .menu_toggle .hamburger span:nth-child(2) {
	transition-delay: .4s;
}
.collapsed .menu_toggle .hamburger span:nth-child(3) {
	transition-delay: .5s;
}

.menu_toggle .hamburger-cross {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: rotate(45deg);
	display: block;
}
.menu_toggle .hamburger-cross span {
	display: block;
	background: #fff;
	border-radius: 3px;
	transition: .2s ease-in-out;
}
.menu_toggle .hamburger-cross span:nth-child(1) {
	height: 100%;
	width: 2px;
	position: absolute;
	top: 0;
	left: 10px;
	transition-delay: .3s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
	height: 0%;
	transition-delay: 0s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 10px;
	transition-delay: .4s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
	width: 0%;
	transition-delay: .2s;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

@media (min-width: 992px) {
	.navbar-collapse {
		display: flex;
		flex-basis: auto;
	}
}
.justify-content-between {
	justify-content: space-between!important;
}

.mr-auto, .mx-auto {
	margin-right: auto!important;
}
.ml-auto, .mx-auto {
	margin-left: auto!important;
}
.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}
@media (min-width: 992px) {
	.navbar-nav {
		flex-direction: row;
	}
}
@media (max-width: 991px){
	.navbar-nav {
		padding: 10px 30px;
		background: #fff;
		margin-top: 0px;
	}
}
.nav-item {
	position: relative;
	padding-bottom: 35px;
	padding-top: 35px;
}
.nav-item + .nav-item {
	margin-left: 45px;
}
@media (max-width: 1199px) {
	.nav-item + .nav-item {
		margin-left: 20px;
	}
}
@media (max-width: 991px) {
	.nav-item + .nav-item {
		margin-left: 0px;
	}
}
.nav-item.submenu.mega_menu {
	position: static;
}
@media (max-width: 991px){
	.nav-item {
		margin-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.nav-link {
	display: block;
	padding: .5rem 1rem;
	font: 500 15px "Poppins", sans-serif;
	color: #fff;
	padding: 0px;
	transition: color 0.3s ease 0s;
	position: relative;
}
@media (max-width: 991px) {
	.nav-link {
		display: inline-block;
		color: #051441;
	}
}

.nav-item:hover .nav-link, .nav-item.active .nav-link {
	color: #fff;
}
@media (max-width: 991px) {
	.nav-item:hover .nav-link, .nav-item.active .nav-link {
		color: #051441;
	}
}
.nav-link:before {
	content: "";
	width: 0;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	transition: all 0.2s linear;
}
@media (max-width: 991px) {
	.nav-link:before {
		background: #051441;
	}
}
.nav-item:hover .nav-link:before {
	width: 100%;
	left: 0;
	right: auto;
}
.nav-item.active .nav-link:before {
	width: 100%;
	left: 0;
	right: auto;
}

@media (max-width: 991px) {
	.navbar-collapse {
		max-height: 400px;
		overflow-y: scroll;
		margin-left: 0px;
		margin-right: 0px;
		background: #fff;
	}
}
/*.collapse:not(.show) {
    display: none;
}*/


.intro {
	background-image: -webkit-linear-gradient(180deg, #5e2ced 0%, #a485fd 100%);
	position: relative;
	z-index: 1;
	padding: 235px 0px 125px;
	overflow: hidden;
}