*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.v-h:not(:focus):not(:active),
input[type="checkbox"].v-h,
input[type="radio"].v-h {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}


/*Header*/
.header{
	position: sticky;
	width: 100%;
	top: 0;
	padding: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 30px 0 rgba(32,39,48,.08);
}
.header-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo{
	font-size: 20px;
	font-weight: 700;
}
.logo span{
	color: #3c8bff;
}

.nav a{
	display: inline-block;
	margin-right: 30px;
	font-size: 14px;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase; 
}
@media (min-width: 481px) {
	.mobil-nav {
		display: none;
	}
}

@media (max-width: 480px){
	.header-col .nav {
		display: none;
	}
	.mobil-nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
	}
	.mobil-nav .nav {
		margin-top: 50px;
	}
	.mobil-nav .nav a{
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center;
	}
}

.footer{
	padding: 20px 0;
}
.footer-box{
	display: flex;
	justify-content: space-between;
}