:root {
	--accent: #e83a15;
	--blu: #24a0ed;
	--text: #232323;
	--bg: #00045f;
	--tmdbDarkBlue: 3,37,65;
	--dark-blue: #002ead;
    --theme-color: #0a0a23;
    --gray85: #1b1b32;
    --gray80: #2a2a40;
    --gray75: #3b3b4f;
    --gray45: #858591;
    --gray15: #d0d0d5;
    --gray10: #dfdfe2;
    --gray05: #eeeef0;
}
*, *::before, *::after {
	box-sizing: inherit;
}
::selection {
	text-shadow: none;
	background: var(--dark-blue);
	color: #fff;
}
html {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #0a0a23;
}

.page {
	/*background: url(../images/bg-shpe.png) no-repeat 0 0/cover var(--bg);*/
	/*background-image: radial-gradient(at 30% top, rgba(3,29,51, 1) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);*/

}

ul,li {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.v-h:not(:focus):not(:active),
input[type="checkbox"].v-h,
input[type="radio"].v-h {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-size: 25px;
}

/*Header*/
.header{
	position: sticky;
	width: 100%;
	top: 0;
	padding: 20px 0;
	background: var(--theme-color);
	box-shadow: 0 0 30px 0 rgba(32,39,48,.08);
}
.header-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
.logo span{
	font-size: 28px;
	color: var(--accent);
}

li {
	margin-bottom: 5px;
}

a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
.arrow {
	position: relative;
	display: inline-block;
	transition: transform .25s ease;
}
.arrow:before {
	pointer-events: none;
	content: "→";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	transform: translateX(-30px) translateZ(0);
	transition: transform .25s ease, opacity .25s ease;
}
.arrow:hover {
	text-decoration: underline;
	transform: translateX(10px) translateZ(0);
}
.arrow:hover:before {
	transform: translateX(-25px) translateZ(0);
	opacity: 1;
}
