/*https://woodmart.xtemos.com/*/

@font-face {
    font-family: woodmart-font;
    src: url(woodmart-font.woff);
}

*, :after, :before {
    box-sizing: border-box;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
a, button, input {
    touch-action: manipulation;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #FFF;
    color: #777;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

a {
    color: #3f3f3f;
    text-decoration: none;
    transition: all .25s ease;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    font-family: inherit;
}

.container {
    max-width: 1200px;
    margin: 100px auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    /*min-height: 862px;*/
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
@media (max-width: 768px) {
    .products {
        margin-right: -5px;
        margin-left: -5px;
    }
}

/*.ajax-loaded */.products {
    animation: fadeIn .3s ease;
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.product {}
.product-grid-item {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 1px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (max-width: 768px) {
    .product-grid-item {
        margin-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}


.product-wrapper {
    position: relative;
    transition: transform .3s ease
}
.product:hover .product-wrapper {
    z-index: 20;
    transform: translateY(-5px) translateZ(0);
}

.content-product-imagin {
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: 0;
    left: -15px;
    margin-bottom: -146px;
    visibility: hidden;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    opacity: 0;
    transform: scale(.98);
}
.product:hover .content-product-imagin {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease,visibility 0s ease,transform .3s ease;
    transform: scale(1);
}


/*.product-element-top*/

.product-element-top {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    backface-visibility: hidden;
}
.product-element-top:after {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    margin-top: -16px;
    margin-left: -16px;
    opacity: 0;
    transition: opacity .1s ease,visibility .1s ease;
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #BBB;
    border-left-color: #000;
    border-radius: 50%;
    vertical-align: middle;
}

.product-image-link {
    display: block;
}

.hover-img img,
.product-image-link img {
    width: 100%;
}
.hover-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    opacity: 0;
    transition: opacity .5s ease,transform 2s cubic-bezier(0,0,.44,1.18);
}
.hover-img>a {
    display: block;
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
}
.product-element-top:hover .hover-img {
    opacity: 1;
    transform: scale(1.09);
}


/*product-labels*/

.product-labels {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 50%;
    transition: opacity .3s ease;
}
.labels-rounded {
    top: 7px;
    left: 7px;
}

.product-label {
    min-width: 50px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
    letter-spacing: .4px;
    font-weight: 600;
    line-height: 1.2;
}
.product-label:not(:last-child) {
    margin-bottom: 10px;
}

.labels-rounded .product-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    min-height: 50px;
    border-radius: 35px;
    font-size: 14px;
}

.product-label.new {background-color: #438E44;}
.product-label.onsale {background-color: #83b735;}
.product-label.featured {background-color: #E22D2D;}


/*swatches*/

.wrapp-swatches {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    min-height: 47px;
    border-top: 1px solid rgba(0,0,0,.07);
    border-bottom: 1px solid rgba(0,0,0,.07);
    background-color: #FFF;
    transition: transform .3s ease;
    transform: translateY(102%) translateZ(0);
    backface-visibility: hidden;
}
.product:hover .wrapp-swatches {
    transform: none;
}

.swatches-grid {
    display: inline-block;
    vertical-align: middle;
    min-width: 15px;
}

.swatch {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
    color: #1B1919;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    font-size: 0;
    cursor: pointer;
}
.swatch:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-color: #000;
    opacity: 0;
    transition: opacity .2s ease;
}
.product-grid-item:not(.product-swatched) .swatch-on-grid:after {
    opacity: 0;
}

.swatch:not(:last-child) {
    margin-right: 8px;
}



.compare-btn {
    flex: 1 1 auto;
    text-align: right;
}

.style-icon a {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-weight: 400;
    font-size: 0;
    line-height: 0;
    color: #333
}
.style-icon a:hover {
   color: #83b735; 
}
.style-icon a:before {
    font-family: woodmart-font;
    font-size: 20px;
    transition: opacity .15s ease;
}
.compare-btn a:before {
    content: "\f128";  
}
.quick-view-btn a:before {
    content: "\f130";
}
.wishlist-btn a:before {
    content: "\f106";
}

.style-icon a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    opacity: 0;
    transition: opacity .2s ease;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #BBB;
    border-left-color: #000;
    border-radius: 50%;
    vertical-align: middle;
}



/*XZ*/
.quick-shop-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.95);
    transition: transform .3s ease;
    transform: translate3d(0,103%,0);
}

.wd-cross-button {
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
}
.wd-cross-button[class*=wd-with-text] {
    color: #2d2a2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 600;
    font-size: 13px;
}
.quick-shop-wrapper .quick-shop-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    height: 30px;
    letter-spacing: .6px;
    font-size: 12px;
    opacity: 0;
    transition: opacity .2s ease 0s;
}
.quick-shop-close {
    top: -5px;
}
.wd-cross-button.wd-size-s.wd-with-text-left {
    padding-right: 16px;
}

.wd-cross-button:after, .wd-cross-button:before, .widget_layered_nav_filters ul li a:after, .widget_layered_nav_filters ul li a:before, .woocommerce-remove-coupon:after, .woocommerce-remove-coupon:before, td.product-remove a:after, td.product-remove a:before {
    content: " ";
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    background-color: #000;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
}
.wd-cross-button:before, .widget_layered_nav_filters ul li a:before, .woocommerce-remove-coupon:before, td.product-remove a:before {
    transform: rotate(45deg);
}
.wd-cross-button:after, .widget_layered_nav_filters ul li a:after, .woocommerce-remove-coupon:after, td.product-remove a:after {
    transform: rotate(-45deg);
}
.wd-cross-button.wd-with-text-left:after, .wd-cross-button.wd-with-text-left:before {
    right: 0;
}
.wd-cross-button.wd-size-s[class*=wd-with-text]:after, .wd-cross-button.wd-size-s[class*=wd-with-text]:before, .widget_layered_nav_filters ul li a:after, .widget_layered_nav_filters ul li a:before {
    width: 10px;
}

.quick-shop-wrapper .quick-shop-form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-top: 45px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}



/*product-information*/

.product-information {
    position: relative;
    padding: 10px;
}
.product-title {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
}

.product-title a {
    display: block;
    color: inherit;
}
.product-title a:hover {
    color: rgba(51,51,51,.7);
}

.woodmart-product-cats {
    margin-bottom: 5px;
    color: #9E9E9E;
    font-size: 14px;
    line-height: 1.3;
}
.woodmart-product-cats a {
    display: inline-block;
    color: #9E9E9E;
}
.woodmart-product-cats a:hover {
    color: #5C5C5C;
}


.wrapp-product-price {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: transform .3s ease;
}
.price {
    display: block;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.3;
}
.price ins {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    opacity: 1;
}
.price del {
    color: #BDBDBD;
    font-size: 90%;
}
.amount {
    font-weight: 600;
    font-size: 14px;
    color: #83b735;
}
.price .amount {
    font-size: inherit;
}
del .amount {
    color: #BDBDBD;
    font-weight: 400;
}


/*.fade-in-block */

.fade-in-block {
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    left: 0;
    visibility: hidden;
    padding: 0 10px 10px 10px;
    opacity: 0;
}
.product:hover .fade-in-block {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease,visibility 0s ease;
}

.product-more-desc {
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    max-height: 88px;

}
.product-more-desc-inner {
    line-height: 22px;
}



.bottom-actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-actions .wrap-quickview-button,
.bottom-actions .wrap-wishlist-button {
    flex: 1 0 0%;
}
.bottom-actions .wrap-wishlist-button {
    text-align: left;
}
.bottom-actions .wrap-quickview-button {
    text-align: right;
}


/*button add to cart*/

.button-add-to-cart {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    overflow: hidden;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    background-color: #83b735;
    border: none;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: .3px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
    transition: color .25s ease,background-color .25s ease,border-color .25s ease,box-shadow 0s ease,opacity .25s ease;
}

.button-add-to-cart:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    transition: opacity .15s ease,transform .25s ease;
    transform: translateY(100%);
    content: "\f123";
    font-family: woodmart-font;
}

.button-add-to-cart:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    opacity: 0;
    transition: opacity .2s ease;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(255,255,255,.4);
    border-left-color: #FFF;
    border-radius: 50%;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .button-add-to-cart span {
    display: block;
    padding: 10px 35px;
    font-size: 12px;
    line-height: 16px;
    transition: transform .25s ease,opacity .15s ease;
}
}


.button-add-to-cart:focus:before,
.button-add-to-cart:hover:before {
    transform: translateY(0) translateZ(0);
}

.button-add-to-cart:focus span,
.button-add-to-cart:hover span {
    transform: translateY(-100%) translateZ(0);  
}





