<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
<style>
:root {
	--bg: 255,255,255;
	--bg-2: 245,247,249;
	--bg-3: 240,242,244;
	--bg-4: 235,237,239;
	--color: 18,22,36;
	--color-2: 255,54,95;
	--color-3: 255,0,136;
	--purpure: 95,40,255;
	--orange: 255,179,0;
	--green: 75,210,147;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	display: block;
	background: #f5f7f9;
	background: rgba(var(--bg-2),1);
}
::-webkit-scrollbar-thumb {
	background: rgba(18,22,36,.2);
	background: rgba(var(--color),.2);
	border-radius: 5px;
}
::selection {
	background: rgba(37,100,255,.15);
}
*, :focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
* {
	margin: 0;
	padding: 0;
	outline: none!important;
	list-style: none;
	box-sizing: border-box;
	outline-color: transparent;
	outline-style: none;
}
body, html {
	scroll-behavior: smooth;
}
body {
	background: #f8fbff;
	color: #121624;
	color: rgba(var(--color),1);
	font-family: Exo,SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	overflow-x: hidden;
	width: 100%;
}
.con-points[data-v-61090c4b] {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 15px;
	flex-wrap: wrap;
	max-width: 200px;
}
.con-points.right[data-v-61090c4b] {
	left: auto;
	right: 15px;
}
@media (max-width: 767px){
	.con-points[data-v-61090c4b] {
		left: -150px;
	}
	.con-points.right[data-v-61090c4b] {
		right: -150px;
	}
}
.con-points .point[data-v-61090c4b] {
	width: 25px;
	height: 25px;
	display: block;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.con-points .point[data-v-61090c4b]:after {
	content: "";
	width: 5px;
	height: 5px;
	background: #ffc51e;
	border-radius: 50%;
	transition: all .25s ease;
}
.con-points .point[data-v-61090c4b]:hover:after {
	width: 15px;
	height: 15px;
}
.con-points .point:hover~.point[data-v-61090c4b]:after {
	transform: translateY(25px);
}
</style>
</head>
<body>
<div class="con-points" data-v-61090c4b="">
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
</div>
<div class="con-points right" data-v-61090c4b="">
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
	<span class="point" data-v-61090c4b=""></span>
</div>
<div class="content" style="max-width: 800px;margin: 150px auto;padding: 20px;background: #fff;">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis molestiae beatae odit temporibus cum ipsa ipsam aperiam quae, aliquam molestias eaque voluptates omnis dolore adipisci aliquid possimus ratione est, fugiat labore! Magnam explicabo officia voluptatum ex soluta quasi dolorem, deserunt error culpa placeat saepe ipsum molestiae porro doloremque a in cupiditate odit deleniti inventore dolores numquam delectus praesentium! Nisi eius iure similique quae ducimus, quos voluptas sunt ut dolorem voluptatum reprehenderit laboriosam, adipisci a libero. Aliquid, eius illum quidem nisi quis corporis dignissimos enim quos error dolorum quod consectetur animi adipisci at provident suscipit cupiditate in reiciendis laborum, ab quas.</p>
</div>	
</body>
</html>