@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer,
header {
  display: block;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  min-width: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #ff9900;
  border-radius: 3px;
  background: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover,
.btn:focus {
  background: #ff9900;
  color: #fff;
}

.header {
  width: 100%;
  background: #ff9900;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ff9900));
  background: linear-gradient(0deg, #fff, #ff9900);
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.header-text {
  margin-left: 15px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.customer-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.customer-data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(30% - 10px);
  margin: 5px;
}

@media (max-width: 767px) {
  .customer-data-item {
    width: 100%;
  }
}

.customer-data-item:nth-child(3n) {
  width: calc(40% - 10px);
}

@media (max-width: 767px) {
  .customer-data-item:nth-child(3n) {
    width: 100%;
  }
}

.customer-data-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid #ff9900;
}

.additional-data {
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.customer-data-item:hover .additional-data {
  opacity: 1;
}

.footer {
  width: 100%;
  background: #fc6;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}
/*# sourceMappingURL=style.css.map */