@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section,
code {
	display: block;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}

.main {
	min-height: 100%;
}

.container {
	max-width: 1300px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}


.btn {
	display: block;
	align-self: center;
	margin-top: auto;
	min-width: 50px;
	appearance: none;
	border: 2px solid #f90;
	border-radius: 3px;
	background: transparent;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	transition: all .2s linear;
}
.btn:hover,
.btn:focus {
	background: #f90;
	color: #fff;
}


.header {
	width: 100%;
	flex: 0 0 45px;
	padding: 10px 0;
	margin-bottom: 50px;
	background: #f90;
	background: linear-gradient(to top, #fff, #f90);
}

.header-text {
	margin-left: 15px;
}


.content {
	margin-bottom: 50px;
}

.customer-data {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.customer-data-item {
	display: flex;
	width: calc(30% - 10px);
	margin: 5px;
	@media (max-width: 767px) {
		width: 100%;
	}
	&:nth-child(3n) {
		width: calc(40% - 10px);
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.customer-data-body {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border: 1px solid #f90;
}

.additional-data {
	opacity: 0;
	transition: opacity .2s linear;
}
.customer-data-item:hover .additional-data {
	opacity: 1;
}


.footer {
	position: relative;
	width: 100%;
	height: 45px;
	margin-top: -45px;
	padding: 10px 0;
	background: #fc6;
	z-index: 1;

}
.footer-text {
	text-align: center;
}
