*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500; 
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.col {
  width: 25%;
}

/*==============================
btn_1*/
.btn_1 {
	display: inline-block;
	padding: 17px 28px;
	font: 500 14px "Poppins", sans-serif;
	background: #fbfbfd;
	box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
	border-radius: 3px;
	color: #5e2ced;
	overflow: hidden;
	transition: all 0.3s ease;
	z-index: 1;
	cursor: pointer;
}
.btn_1:hover {
  color: #fff;
  background: #5e2ced;
}

/*==============================
btn_2*/
.btn_2 {
  display: inline-block;
  padding: 16px 38px;
  color: #5956fe;
  position: relative;
  border: 0px;
  border-radius: 3px;
  background: #fff;
  min-width: 170px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
  transition: all 0.2s linear;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.btn_2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
  transition: all 0.3s linear;
}

.btn_2:hover {
  color: #fff;
  box-shadow: none;
  background: transparent;
}

.btn_2:hover:before {
  opacity: 1;
}

/*==============================
btn_3*/
.btn_3 {
  display: inline-block;
  padding: 16px 38px;
  color: #fff;
  position: relative;
  border: 0px;
  border-radius: 3px;
  background: transparent;
  min-width: 170px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
  transition: all 0.2s linear;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.btn_3:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #7121ff 0%, #21d4fd 100%);
  transition: all 0.3s linear;
  z-index: -1;
}

.btn_3:hover {
  color: #5956fe;
  box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1);
}

.btn_3:hover:before {
  opacity: 0;
}


/*==============================
btn_4*/
.btn_4 {
  font: 500 14px "Poppins", sans-serif;
  color: #5e2ced;
  background: transparent;
  border-radius: 3px;
  padding: 15px 30px;
  border: 1px solid #5e2ced;
  transition: all 0.3s linear;
  cursor: pointer;
  display: inline-block;
}
.btn_4:hover {
  background: #5e2ced;
  color: #fff;
}


/*==============================
btn_5*/
.btn_5 {
  font: 500 14px "Poppins", sans-serif;
  color: #fff;
  background: #3d64f4;
  box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  display: inline-block;
  padding: 16px 42px;
  border-radius: 45px;
  border: 0px;
  transition: all 0.2s linear;
}

.btn_5:hover {
  color: #3d64f4;
  background: #fff;
}


/*==============================
btn_6*/
.btn_6 { 
  display: inline-block;
  padding: 14px 40px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #4069eb;
  border-radius: 45px;
  border: 1px solid #4069eb;
  box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn_6:hover {
  color: #4069eb;
  background: #fbfbfd;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*=================================
btn_7*/
.btn_7 {
  font: 500 15px "Poppins", sans-serif;
  padding: 13px 32px;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  color: #4069eb;
  transition: all 0.2s linear;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-right-radius: 45px;
  border: 1px solid transparent;
}
.btn_7:hover, .btn_7.active {
  background: #fff;
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
}


/*=================================
btn_8*/
a.btn_8 {
  width: 150px;
  text-decoration: none;
  color: #a675b3;
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  display: block;
  margin: 20px auto;
}

a.btn_8:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.btn_8:not(.active):hover,
a.btn_8:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.btn_8:not(:hover) {
    transition: 0.6s;
}


/*=================================
btn_9*/
a.green{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display:block;
  width:100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;        
}
a.green {
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
}
        
a.green:hover {
  background-color: rgb( 75, 183, 141 );
}


/*=================================
btn_10*/
a.bot8 {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 4px;
  color: #555555;
  display:block;
  width:200px;
  margin: 20px auto;
  font-size: 14px;
  text-align:center;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 6px;
  vertical-align: middle;
  text-decoration:none;
}
a.bot8:hover, a.bot8:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

/*=================================
btn_11*/
a.butt {
  text-align:center;
  font-size:13px;
  text-decoration: none;
  font-weight: 700;
  padding: 3px 6px;
  background: #eaeef1;
  display:block;
  width:60px;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
  border-radius: 3px;
  color: rgba(0,0,0,.6);
  text-shadow: 0 1px 1px rgba(255,255,255,.7);
  box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

a.butt:hover, a.butt.hover {
  background: #fff;
}
a.butt:active, a.butt.active {
  background: #d0d3d6;
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
  box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

/*=================================
btn_12*/
a.bot5 {
  display: block;
  width:120px;
  margin: 20px auto;
  vertical-align: top;
  padding: 7px 20px;
  font-family: inherit;
  font-size: 15px;
  color: #111;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  background-color: #ccc;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #202020 #1a1a1a #111;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #efefef, #777);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
a.bot5:hover {
  background-color: #aaaaaa;
  background-image: linear-gradient(to bottom, #ccc, #555);
}
a.bot5:active, .bot5.active {
  background-color: #b42f32;
  border-color: #1c1c1c #202020 #222;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

/*=================================
btn_13*/
.btn_13 {
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: tomato;
  border: 2px solid tomato;
}
.btn_13:hover {
  line-height: 36px;
  border: 4px solid tomato;
}

.btn_13:active {
  color: #fff;
  background-color: tomato;
}




/*============================
==========col-2===============
===========================*/

/*======================================
button-pipaluk*/
.button-pipaluk {
  min-width: 256px;
  position: relative;
  overflow: visible;
  padding: 19px 35px 17px;
  border: none;
  z-index: 1;
  color: #fff;
  font-weight: 500;
  letter-spacing: .075em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  font-size: 16px;
  line-height: 1.34;
}
.button-pipaluk,
.button-pipaluk:focus {
  background: 0 0;
}
.button-pipaluk::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.button-pipaluk::before,
.button-pipaluk:focus::before {
  background: #efc4a3;
  border-color: #151515;
}
.button-pipaluk::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 2px;
  border-style: solid;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease 0s;
  transform: scale(1.05);
  will-change: transform;
  z-index: -1;
}
.button-pipaluk::after,
.button-pipaluk:focus::after {
  border-color: #151515;
}

.button-pipaluk:hover,
.button-pipaluk:active {
  color: #151515;
  background: 0 0;
}
.button-pipaluk:hover::before,
.button-pipaluk:active::before {
  opacity: 0;
  visibility: hidden;
  transform: scale(.9);
  transition-duration: .2s;
}
.button-pipaluk:hover::after,
.button-pipaluk:active::after {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition-duration: .3s;
  transition-delay: .1s;
}


/*===================
button-ujarak*/
.button-ujarak {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 200px;
  padding: 17px 33px 15px;
  font-size: 18px;
  line-height: 1.34;
  color: #fff;
  background-color: #efc4a3;
  border: 2px solid #efc4a3;
  font-weight: 500;
  letter-spacing: .075em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: background .4s,border-color .4s,color .4s;
  z-index: 0;
}
.button-ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background: #151515;
  z-index: -1;
  opacity: 0;
  transform: scale3d(.7,1,1);
  transition: transform .42s,opacity .42s;
  border-radius: inherit;
}

.button-ujarak,
.button-ujarak::before {
  transition-timing-function: cubic-bezier(.2,1,.3,1);
}

.button-ujarak:hover {
  transition: background .4s .4s,border-color .4s 0s,color .2s 0s;
}

.button-ujarak:hover::before {
  opacity: 1;
  transform: translate3d(0,0,0) scale3d(1,1,1);
}

.button-ujarak:hover, .button-ujarak:active {
  color: #fff;
  background-color: #151515;
  border-color: #151515;
}

/*===================
button-view*/
.button-view {
  transition: all 0.5s;
  position: relative;
  color: #000248;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  text-decoration: none;
  padding: 0 25px;
  z-index: 2;
  font-size: 16px;
  background: #ffffff;
}
.button-view::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #000248;
  transition: all 0.3s;
}
.button-view::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: #000248;
  transition: all 0.3s;
  transform: scale(0.5, 0.5);
}
.button-view span {
  display: inline-block;
}
.button-view .button-text {
  padding-right: 25px;
}

.button-view .button-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #000024;
}

.button-view:hover {
  color: #ffffff;
}
.button-view:hover::before {
  opacity: 0;
  transform: scale(1.2, 1.2);
}
.button-view:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.button-view:hover .button-icon {
  border-color: transparent transparent transparent #ffffff;
}

/*===================
button-view-2*/
.button-view-2 {
  transition: all 0.5s;
  position: relative;
  color: #fff;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  text-decoration: none;
  padding: 0 25px;
  z-index: 2;
  font-size: 16px;
  background: #fff;
}
.button-view-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000248;
  transition: all 0.3s;
}
.button-view-2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid #000248;
  transform: scale(1.2, 1.2);
}
.button-view-2 span {
  display: inline-block;
}
.button-view-2 .button-text {
  padding-right: 25px;
}
.button-view-2 .button-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #fff;
}

.button-view-2:hover {
  color: #000248;
}
.button-view-2:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.button-view-2:hover .button-icon {
  border-color: transparent transparent transparent #000248;
}
.button-view-2:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}


/*===================
ad_button*/
.ad_button {
  background: #6c7a89;
  border: none;
  text-transform: uppercase;
  height: 40px;
  width: 170px;
  font-size: 15px;
  color: #fff;
  overflow: hidden;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  perspective: 1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ad_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 0%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  height: 100%;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  transform: skewX(-30deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ad_button:after {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  width: 0%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  height: 100%;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  transform: skewX(-30deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.ad_button:hover {
  color: #fff;
}

.ad_button:hover:before, .ad_button:hover:after {
  width: 100%;
}

/* ===================
tommy_day */
.tommy_day {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  background-color: #e63946;
  position: relative;
  margin: 0 auto;
  border-radius: 7px;
  padding: 12px 20px;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: transform .2s ease-in-out;
}
.tommy_day:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #000;
  border-radius: 7px;
  transition: transform .2s ease-in-out;
}
.tommy_day:hover {
  transform: translate(-2px, -2px);
}
.tommy_day:hover:before {
  transform: translate(6px, 6px);
}


/* ===================
main-button*/
.main-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 64px;
  margin: 10px 0;
  padding: 0 48px 0 40px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Manrope,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid #000;
  box-shadow: 4px 4px 0 0 #000;
  transform: translate(0);
  transition: all .2s ease;
  cursor: pointer;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; 
}
.main-button svg {
  margin-right: 12px;
}
.main-button:active {
  transform: translate(4px,4px);
  box-shadow: 0 0 0 0 #000;
}





/* ===================
btn-3d*/

.btn-3d {
  position: relative;

  display: inline-block;
  min-width: 171px;
  height: 60px;
  width: 250px;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;

  border: 0;
  outline: none;

  overflow: visible;
  will-change: transform;
}

.btn-3d__text {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-right: 0px;
  text-align: center;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.btn-3d__text:nth-of-type(1) {
  color: #fff;
  bottom: 100%;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);
  background-color: #ec375d;
  transition: all 400ms;
  opacity: 1;
  will-change: transform;
}
.btn-3d__text:nth-of-type(2) {
  color: #fff;
  top: 100%;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -60, 0, 1);
  background-color: #7878f6;
  transition: all 400ms;
  will-change: transform;
}

.btn-3d:hover .btn-3d__text:nth-of-type(1) {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 60, 0, 1);
}
.btn-3d:hover .btn-3d__text:nth-of-type(2) {
  transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}
.btn-3d:hover .btn-3d__text:nth-of-type(2) {
  opacity: 0;
  transition: all 540ms;
}






/* ===================
HuperPC_button*/







/*============================
==========col-3===============
===========================*/


/*===================
download-button*/
.download-button {
  display: block;
  padding: .2em .8em .1em;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  background: #39a1cf;
  box-shadow: 0 2px 10px black, inset 0 1px hsla(0,0%,100%,.3), inset 0 0.4em hsla(0,0%,100%,.2), inset 0 10px 20px hsla(0,0%,100%,.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  color: white;
  text-shadow: 0 -1px 2px black;
  text-align: center;
  font-size: 250%;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  hyphens: manual;
}
.download-button:active {
  box-shadow: inset 0 2px 8px rgba(0,0,0,.8);
}
.download-button:hover {
  background-color: #7fab14;
}


/*===================
get-button*/
.get-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: content-box;
  transition: all .2s;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  background-color: #EC6551;
  border-color: #bd5141;
  border-radius: 10px;
}
.get-button span {
  display: block;
  color: #fff;
  padding: 0px 26px;
  font-size: 20px;
  line-height: 40px;
  border-color: #f29486;
  border-radius: 10px;
  text-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-decoration: none;
  box-sizing: content-box;
  transition: all .2s;
}
.get-button:hover {
  position: relative;
  top: 3px;
  border-bottom-width: 3px;
}

/*===================
action-btn */
.action-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  background: #1fb4da;
  padding: 16px 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.action-btn > i {
  opacity: 0;
  width: 0;
  font-size: 14px;
  padding: 0 !important;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.action-btn:hover {
  background: #fff;
  color: #1fb4da;
}
.action-btn:hover > i {
  text-align: center;
  opacity: 1;
  width: 5px;
  margin-left: 10px;
}

/*===================
Button 3D  */
a.bot9{
  display:block;
  width:120px;
  margin: 20px auto;
  background-color:#3bb3e0;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  font-weight:bold;
  text-decoration:none;
  color:#053154;
  text-shadow:rgba(255,255,255,0.6) 1px 1px 0;
  position:relative;
  padding:10px 20px;
  padding-right:50px;
  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 10px 5px #999;
}

a.bot9:active {
  top:3px;
  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 3px 3px #999;
}

a.bot9::before {
  background-color:#057194;
  background-repeat:no-repeat;
  background-position:center center;
  content:"❤";
  color:#fff;
  text-shadow:none;
  font-weight:normal;
  vertical-align:middle;
  padding: 2px 0 0 4px;
  width:20px;
  height:20px;
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-9px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  box-sizing: border-box;
}
a.bot9:active::before {
  top:50%;
  margin-top:-12px;
  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}


/*===================
bott 3D*/
a.bott{
  display: block;
  font-size: 1.1em;
  width:120px;
  text-decoration:none;
  text-align:center;
  font: bold 14px arial;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 20px auto;
  color: #ccc;
  background-color: #555;
  background-image: linear-gradient(top, #888 0%, #555 100%);
  border: none;
  border-radius: 3px;
  text-shadow: 0px -1px 0px #000;
  box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
  transition: ease .15s all;
  animation: none;
}
a.bott:hover, a.bott:focus{
  animation: linear 1.2s light infinite;
}

@keyframes light{
  0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
  50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
  100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
a.bott:active{
color: #fff;
text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
transform: translateY(3px);
animation: none;
}


/*===================
a-btn-3 3D */
a.a-btn-3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Oswald',Arial,sans-serif;
  box-sizing: content-box;    
}
a.a-btn-3{
  background:#80a9da;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
  background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
  padding-left:20px;
  padding-right:80px;
  height:38px;
  display:block;
  margin: 20px auto;
  text-align:center;
  width:70px;
  position:relative;
  border:1px solid #5d81ab;
  -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
  -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
  box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  overflow:hidden;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
.a-btn-3-text{
  padding-top:5px;
  display:block;
      width:0px;
  font-size:18px;
  white-space:nowrap;
  text-shadow:0px 1px 1px rgba(255,255,255,0.3);
  color:#446388;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.a-btn-3-slide-text{
  position:absolute;
  height:100%;
  top:0px;
  right:52px;
  width:0px;
  background:#63707e;
  text-shadow:0px -1px 1px #363f49;
  color:#fff;
  font-size:18px;
  white-space:nowrap;
  text-transform:uppercase;
  text-align:left;
  text-indent:10px;
  overflow:hidden;
  line-height:38px;
  -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  -webkit-transition:width 0.3s linear;
  -moz-transition:width 0.3s linear;
  -o-transition:width 0.3s linear;
  transition:width 0.3s linear;
}
.a-btn-3-icon-right{
  position:absolute;
  right:0px;
  top:0px;
  height:100%;
  width:52px;
  border-left:1px solid #5d81ab;
  -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
  -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
  box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-3-icon-right span{
  width:38px;
  height:38px;
  opacity:0.7;
  position:absolute;
  left:50%;
  top:50%;
  margin:-20px 0px 0px -20px;
  background:transparent url(images/arrow_right.png) no-repeat 50% 55%;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
.a-btn-3:hover{
  padding-right:140px;
  -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn-3:hover .a-btn-3-text{
  text-shadow:0px 1px 1px #5d81ab;
  color:#fff;
}
.a-btn-3:hover .a-btn-3-slide-text{
  width:57px;
}
.a-btn-3:hover .a-btn-3-icon-right span{
  opacity:1;
}
.a-btn-3:active{
  position:relative;
  top:1px;
  background:#5d81ab;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
  -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
  box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
  border-color:#80a9da;
}


/*===================
buy-button */
.buy-button{
  position: relative;
  display: inline-block;
  width: auto;
  max-height: inherit;
  padding: 8px 10px 10px 10px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  margin-right: 0;
  border: 1px solid rgba(0,0,0,.2);
  color: #000;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), inset 0 -4px 0 rgba(0,0,0,.2);
  cursor: pointer;
  background: #fec228;
}
.buy-button:hover{
  background: #f2ae01;
  text-decoration: none;
  color: #000;
}
.buy-button:active{
  background: #f2ae01;
  box-shadow: none;
  padding-bottom: 10px;
  top: 2px;
}


/*===================
cta-button*/

.cta-button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 -1px rgba(71, 0, 0, 0.3);
  border-radius: 1px;
  position: relative;
  padding: 17px 40px;
  overflow: hidden;
  box-shadow: 0 2px 0 #661000, inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ef4511;
  background: linear-gradient(to bottom, #fab81b 0%, #ef4511 100%) no-repeat 0, linear-gradient(to bottom, #fab81b 0%, #ef4511 100%) no-repeat 100%, #f25322 linear-gradient(to bottom, #f60 0%, #a6230e 100%) no-repeat;
  background-size: 1px 100%, 1px 100%, cover;
}

.cta-button__blink:before {
  width: 100%;
  height: 100%;
  content: "";
  border-left: 58px solid rgba(255, 251, 237, 0.16);
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  -webkit-animation: blinkButton 3s infinite ease;
  animation: blinkButton 3s infinite ease;
}
@keyframes blinkButton { 
  0% { left: -30px;}
  30% { left: 110%;}
  100% { left: 110%;} 
}
/*.cta-button:before {
      content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: rgba(255, 251, 237, 0.5);
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes slideme { 
  0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } 
}*/

.cta-button:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  box-shadow: inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ff7e00;
  background: linear-gradient(to bottom, #fab81b 0%, #ff7e00 100%) no-repeat 0, linear-gradient(to bottom, #fab81b 0%, #ff7e00 100%) no-repeat 100%, #ff7e00 linear-gradient(to bottom, #ff7e00 0%, #c2530a 100%) no-repeat;
  background-size: 1px 100%, 1px 100%, cover;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.15s ease-out;
  will-change: opacity;
}

.cta-button_text {
  display: inline-table;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 2;
}

.cta-button:hover {
  color: #fff;
  cursor: pointer;
}
.cta-button:hover:after {
  opacity: 1;
}



/*===================
.to-bottom-arrow */
.to-bottom-arrow {
    display: inline-block;
    text-align: center;
    color: #a29e87;
    transition: color 0.15s ease-out;
    cursor: pointer;
}
.to-bottom-arrow:hover {
    color: #f9f5e1;
}
.to-bottom-arrow_title {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.to-bottom-arrow_list {
    display: inline-block;
}
.to-bottom-arrow_inner {
    -webkit-animation: fade 2s infinite;
    animation: fade 2s infinite;
    width: 35px;
    height: 9px;
    margin-top: -2px;
    background-image: url(content/arrow.png);
}
.to-bottom-arrow_inner:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.to-bottom-arrow_inner:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.to-bottom-arrow_inner:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@keyframes fade {
  0% {
    opacity: .15;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: .15;
  }
  100% {
    opacity: .15;
  }
}
/*============================
==========col-4===============
===========================*/

/*===================
link1 */
.link1 {
  border-bottom: 0 solid #86ed94;
  box-shadow: 0 -3px 0 #86ed94 inset;
  transition: background .15s cubic-bezier(.33,.66,.66,1) 0s;
  color: inherit;
}
.link1:hover {
  background: #86ed94;
}

.text {
  padding-left: 10px;
}

/*===================
link2 (https://www.choosit.com)*/
.news__link {
  position: relative;
  padding: 0;
  color: #000;
  left: 0;
  bottom: 1.875rem;
  opacity: 1;
  -webkit-transform: translateY(1.5625rem);
  transform: translateY(1.5625rem);
  transition: opacity .4s,-webkit-transform .7s cubic-bezier(.19,1,.22,1) 40ms;
  transition: opacity .4s,transform .7s cubic-bezier(.19,1,.22,1) 40ms;
  transition: opacity .4s,transform .7s cubic-bezier(.19,1,.22,1) 40ms,-webkit-transform .7s cubic-bezier(.19,1,.22,1) 40ms;
}
.news__link a {
  display: inline-block;
  padding: 0;
  position: relative;
  color: inherit;
  box-shadow: none;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .0625rem;
  padding-right: 1.5625rem;
  transition: all .2s ease-out;
}
.news__link a:hover {
  color: #009ee0;
}
.news__link a:after, .news__link a:before {
  position: absolute;
  top: .5rem;
  right: 0;
  transition: opacity .2s,-webkit-transform .2s;
  transition: opacity .2s,transform .2s;
  transition: opacity .2s,transform .2s,-webkit-transform .2s;
}

.news__link a:before {
  content: "";
  width: .625rem;
  height: .085rem;
  right: -.215rem;
  margin-top: -1px;
  background: #009ee0;
  opacity: 0;
}
.news__link a:hover:before {
  opacity: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.news__link a:after {
  content: "";
  font-family: fontawesome;
  font-size: 18px;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}
.news__link a:hover:after {
  -webkit-transform: translateX(20%) translateY(-50%);
  transform: translateX(20%) translateY(-50%);
}


/*===================
link-3*/
.link-3 {
  margin-bottom: 30px;
}
.link {
  position: relative;
  transition: all .2s linear;
}
.link:hover {
  color: #f75159;
}
.link:after {
    content: " ";
    position: absolute;
    top: calc(50% + 1.10em);
    left: 0;
    width: 100%;
    border-top: 2px #f75159 solid;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}
.link:hover:after {
  transform: scaleX(1);
}


/*===================
social */
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.social li {
  display: inline-block;
  margin: 0 30px 0 0;
}
.social li:last-child {
  margin-right: 0;
}
a, a > * {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.social li a {
  display: block;
  overflow: hidden;
  padding: 0;
  color: #1fb4da;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.social li a:hover {
  color: #0ff0df;
}
.social li i {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}


/*===================
social-2 */
.soc_link {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
.soc_link:hover {
  color: #4276ab;
}
.soc_link:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #3b5998;
}
.soc_link:hover:before {
  transform: scale(1);
}
.soc_link:after {
  content: "";
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 6px;
  background: url(sprite.png) no-repeat 0 -80px transparent;
}
.soc_link:hover:after {
    background-position: 0 -128px;
}

.in:before {
  background: linear-gradient(135deg, rgb(90, 80, 201) 0%, rgb(219, 46, 120) 100%);
}
.in:after {
  background-position: -192px -80px;
}
.in:hover:after {
  background-position: -192px -128px;
}

.yt:before {
  background: #cc181e;
}
.yt:after {
  background-position: -48px -80px;
}
.yt:hover:after {
  background-position: -48px -128px;
}

.pt:before {
  background: #bd081c;
}
.pt:after {
  background-position: -144px -80px;
}
.pt:hover:after {
  background-position: -144px -128px;
}


/*===================
social-3 */
.w-socials {
  padding: 30px;
  color: #aaabb3;
  background-color: #2b2c36;
}
.w-socials-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.w-socials-item-link {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 2.5em;
  color: #aaabb3;
  width: 2.5em;
  border: none !important;
  border-radius: inherit;
  z-index: 0;
}

.w-socials-item-link-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.w-socials-item-link:after {
  font-family: 'Font Awesome 5 Brands';
}
.w-socials-item-link:after, .w-socials-item-link i {
  display: block;
  line-height: inherit;
  position: relative;
}

.w-socials-item.facebook .w-socials-item-link:after {
  content: '\f09a';
}
.w-socials-item.facebook .w-socials-item-link-hover {
  background: #1e77f0;
}

.w-socials-item.twitter .w-socials-item-link:after {
  content: '\f099';
}
.w-socials-item.twitter .w-socials-item-link-hover {
  background: #55acee;
}

.w-socials-item.instagram .w-socials-item-link:after {
  content: '\f16d';
  font-size: 1.1em;
}
.w-socials-item.instagram .w-socials-item-link-hover {
  background: #a17357;
  background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%),radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
}

.w-socials-item.vk .w-socials-item-link:after {
  content: '\f189';
}
.w-socials-item.vk .w-socials-item-link-hover {
  background: #4c75a3;
}

.w-socials-item.youtube .w-socials-item-link:after {
  content: '\f167';
}
.w-socials-item.youtube .w-socials-item-link-hover { 
  background: #f00;
}

.w-socials-item-link:hover {
  color: #fff !important;
}
.w-socials-item-link:hover .w-socials-item-link-hover {
  display: block;
  opacity: 1;
}



/*===================
menu */

.menu {
  list-style-type: none;
}
.menu li {
  margin-bottom: 15px;
}
.hover-link {
  position: relative;
  display: block;
  color: #232323;
  overflow: hidden;
  transition: all .25s;
}
.hover-link>span {
  display: block;
  transform: translateY(0);
  transition: all .4s;
}
.hover-link:hover>span {
  transform: translateY(100%);
}

.hover-link::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  transform: translateY(-100%);
  transition: all .4s;
}
.hover-link:hover::after {
  transform: translateY(0);
}
